<?xml version="1.0"?>
<configuration>
  <!-- Section handler must be supplied if any insightSettings are to be respected -->
  <configSections>
    <section name="insightSettings" type="ReflectSoftware.Insight.ConfigurationHandler,ReflectSoftware.Insight"/>
  </configSections>

  <system.net>
    <mailSettings>
      <smtp from="test@foo.com">
        <network host="smtpserver1" port="25" userName="username" password="secret" defaultCredentials="true" />
      </smtp>
    </mailSettings>
  </system.net>
  
  <insightSettings>
    <listeners>
      <!-- add on -->
      <listener name="Email" type="ReflectSoftware.Insight.Listeners.ListenerEmail, ReflectSoftware.Insight.Listeners.Email"/>
    </listeners>
    <!-- 				
		Body Message Pattern:
			%message% 
			%messagetype% 
			%category% 
			%machine% 
			%sessionid% 
			%requestid% 
			%processid% 
			%threadid% 
			%domainid% 
			%application% 
			%userdomain% 
			%username% 
			%time% or %time{dd-MM-yyyy hh:mm:ss.fff}% 
			%details%        
	-->
    <emailDetails>
      <details name="emailDetails1">
        <Async>True</Async>
        <IsHtml>True</IsHtml>
        <toAddresses>sometoemail1@hotmail.com,sometoemail2@hotmail.com</toAddresses>
        <ccAddresses></ccAddresses>
        <bccAddresses></bccAddresses>
        <subject>Notification: %message%</subject>
        <priority>High</priority>
        <body>
          <![CDATA[
          The following error was detected in application: '%application%'<br/><br/>          
          <b>%message%</b><br/><br/>          
          <b>%details%</b><br/><br/>
          Please call technical support: 1-888-555-5555
          ]]>
        </body>
      </details>
    </emailDetails>

    <listenerGroups active="Active">
      <group name="Active" enabled="true" maskIdentities="false">
        <destinations>
          <destination name="Email" enabled="true" filter="ErrorWarningFilter" details="Email[details=emailDetails1]"/>
        </destinations>
      </group>
    </listenerGroups>
    <!--
	/*** String ID's for MessageTypes, Checkpoints, Checkmarks and LevelTypes
	AddCheckpoint ==> all check points
	AddCheckpointRed
	AddCheckpointOrange
	AddCheckpointYellow
	AddCheckpointGreen
	AddCheckpointBlue
	AddCheckpointPurple

	SendCheckmark ==> all checkmarks 
	SendCheckmarkRed
	SendCheckmarkOrange
	SendCheckmarkYellow
	SendCheckmarkGreen
	SendCheckmarkBlue
	SendCheckmarkPurple
	
	SendLevel ==> all level types
	SendLevelRed
	SendLevelOrange
	SendLevelYellow
	SendLevelGreen
	SendLevelBlue
	SendLevelCyan
	SendLevelPurple
	SendLevelMagenta
							
	Unknown
  AddSeparator		
	EnterExitMethod
  SendMessage
  SendNote
  SendInformation        
  SendWarning
  SendError
  SendFatal
  SendMiniDumpFile
  SendDebug
  SendTrace
  SendStart
  SendStop
  SendSuspend
  SendResume
  SendTransfer
  SendVerbose  
  SendReminder
  SendTextFile
  SendXML
  SendHTML
  SendSQL
  SendGeneration
  SendSerializedObject
  SendException
  SendDateTime
  SendTimestamp
  SendCurrency
  SendPoint
  SendRectangle
  SendSize        
  SendAssert
  SendAssigned
  SendStackTrace
  SendAuditSuccess
  SendAuditFailure
  SendInternalError
  SendComment
  SendEnum
  SendBoolean
  SendByte
  SendChar
  SendDecimal
  SendDouble
  SendSingle
  SendInteger
  SendString
  SendLinqQuery
  SendImage
  SendStream
  SendMemory
  SendMemoryStatus        
  SendObject
  SendColor
  SendAttachment
  SendLoadedAssemblies
  SendCollection
  SendProcessInformation
  SendAppDomainInformation
  SendThreadInformation
  SendSystemInformation
  SendCustomData
  SendDataSet
  SendDataTable
  SendDataView
  SendDataSetSchema
  SendDataTableSchema
  SendHttpModuleInformation
  SendLinqResults
  SendLoadedProcesses
  SendDesktopImage  
	-->
    <filters>
      <filter name="ErrorWarningFilter" mode="Include">
        <method type="SendError"/>
        <method type="SendException"/>
        <method type="SendFatal"/>        
      </filter>
    </filters>
  </insightSettings>
</configuration>
